<template>
  <v-dialog v-model="dialog" width="500">
    <template #activator="{ on }">
      <v-btn small color="blue" v-on="on">
        {{ text }}
      </v-btn>
    </template>
    <v-img :src="image"></v-img>
  </v-dialog>
</template>

<script>
export default {
  name: "PreviewImage",
  props: {
    image: {
      required: true,
    },
    text: {
      required: false,
      default: "Preview new image",
    },
  },
  data: () => ({
    dialog: false,
  }),
};
</script>
