<template>
  <div class="ma-3">
    <div v-for="(item, i) in tvi" :key="i">
      <div :class="`${item.class} mb-4`" :style="`${item.style}; cursor: pointer`" @click="item.action"> {{ item.name }} </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

import {isObjectEmpty} from "@/assets/utils"

interface TreeViewItem {
  name: string,
  action: Function,
  style: string,
  class: string,
  children: TreeViewItem[]
}

export default Vue.extend({
  name: "SimpleTreeView",
  props: {
    items: {
      type: Array as PropType<TreeViewItem[]>,
      default: () => ([])
    },
    anchor: {
      type: Object
    },
  },
  data: () => ({
    tvi: [] as TreeViewItem[],
  }),
  watch: {
    anchor () {
      this.$set(this, "tvi", this.treeviewItems())
    }
  },
  methods: {
    treeviewChildren (): any {
      if (isObjectEmpty(this.anchor)) { return [] }
      let items
      const anchors: NodeList = this.anchor.$el.querySelectorAll('h1,h2,h3,h4,h5,h6');
      const titles = Array.from(anchors).filter((title: Node) => !!(title as HTMLElement).innerText.trim())

      if (!titles.length) {
        return titles
      }

      const hTags = Array.from(new Set(titles.map((title: Node) => (title as HTMLElement).tagName))).sort();

      items = titles.map((el: Node) => ({
        name: (el as HTMLElement).innerText,
        style: `margin-left: ${(hTags.indexOf((el as HTMLElement).tagName) + 1) * 20}px`,
        class: hTags.indexOf((el as HTMLElement).tagName) === 0 ? 'font-weight-medium' : '',
        action: () => {
          const attr = (el as HTMLElement).getAttribute('data-v-md-heading')
          if (attr == null) {
            return
          }
          const hash = attr.replace(/ /, '-').toLowerCase()
          // @ts-ignore
          this.$vuetify.goTo(`${(el as HTMLElement).tagName}#${hash}`, window)
          this.$router.push({hash})
        }
      }));
      return items
    },
    treeviewItems (): TreeViewItem[] {
      const children = this.treeviewChildren()
      const tvi = this.items.map(item => {
        const tempItem = {...item}
        if (tempItem.name === "Home" && this.$route.path === '/') {
          tempItem.children = children
        } else if (tempItem.name === "API documentation" && this.$route.path.includes("/api")) {
          tempItem.children = children
        } else if (tempItem.name === "Representations and Keys" && this.$route.path.includes("/keys")) {
          tempItem.children = children
        }
        return tempItem
      })
      return this.constructTreeviewItems(tvi)
    },
    constructTreeviewItems (base: TreeViewItem[], output: TreeViewItem[] = [], margin = 0): TreeViewItem[] {
      if (base.length === 0) return []
      for (const item of base) {
        let staticItem = {} as TreeViewItem
        staticItem.name = item.name
        staticItem.style = item.style
        staticItem.action = item.action
        staticItem.class = item.class
        output.push(staticItem)
        if (item?.children && item.children.length > 0) {
          this.constructTreeviewItems(item.children, output, margin+10)
        }
      }
      return output
    }
  }
})
</script>