<template>
  <v-treeview
    class="pt-2 pl-0"
    :items="items"
    selection-type="independent"
    hoverable
    activatable
    :multiple-active="false"
    dense
    open-on-click
    open-all
    @update:active="clicked"
  >
    <template #label="{item}">
      <span :class="itemClass(item)" @click="parentClick(item)">
        {{ item.name }}
      </span>
    </template>
  </v-treeview>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

interface TreeViewItem {
  id: number,
  name: string,
  action: Function,
  parent?: boolean,
  children: TreeViewItem[]
}

export default Vue.extend({
  name: "TreeViewMenu",
  props: {
    items: {
      type: Array as PropType<TreeViewItem[]>,
      default: () => ([])
    }
  },
  mounted () {
    this.getActions(this.items)
  },
  updated () {
    this.$set(this, 'actions', {})
    this.getActions(this.items)
  },
  data: () => ({
    actions: {} as any,
    open: [] as number[]
  }),
  methods: {
    parentClick (e: TreeViewItem) {
      if (e?.parent == null && (e?.children == null || e.children.length === 0)) { return }
      e.action()
    },
    itemClass (item: TreeViewItem) {
      return item?.parent === true ? "font-weight-medium" : item?.children == null ? "" : item.children.length === 0 ? "" : "font-weight-medium"
    },
    clicked (e: number[]) {
      if (e.length === 0) return
      this.$nextTick()
      if (typeof this.actions[e[0]] === "string") {
        // @ts-ignore
        this.$vuetify.goTo(this.actions[e[0]])
        return
      }
      this.actions[e[0]]()
    },
    getActions (base: TreeViewItem[]) {
      for (let item of base) {
        if (item?.action) {
          this.$set(this.actions, item.id, item.action)
        }
        if (item?.children) {
          if (item.children.length > 0) {
            this.getActions(item.children)
          }
        }
      }
    }
  }
})
</script>