/* md editor */


/* right side */

.theme--dark .v-md-editor-preview .vuepress-markdown-body {
  color: white;
  background-color: var(--darker-background)
}

.theme--light .v-md-editor-preview .vuepress-markdown-body {
  background-color: white;
}


/* left side */

.theme--dark .v-md-textarea-editor textarea {
  color: white;
}

.theme--dark :is(.CodeMirror-scroll, .CodeMirror-gutters) {
  color: white;
  background-color: var(--dark-background);
}

.theme--dark .CodeMirror-activeline-background {
  background-color: rgb(192, 192, 192) !important;
}


/* toolbar */

.theme--dark .v-md-editor__toolbar {
  border-top: 1px solid white;
}


/* toolbar item */

.theme--dark .v-md-editor__toolbar-item {
  color: white;
}

.theme--dark .v-md-editor__toolbar-item--active,
.theme--dark .theme--dark .v-md-editor__toolbar-item:hover {
  background-color: rgba(255, 255, 255, 0.664);
}


/* toolbar item with a menu */

.theme--light .v-md-editor__menu.v-md-editor__menu--panel {
  background-color: white !important;
  padding-left: 7px;
}

.theme--dark .v-md-editor__menu.v-md-editor__menu--panel {
  background-color: var(--darker-background) !important;
  padding-left: 7px;
}

.theme--dark .v-md-editor__menu-item {
  color: white;
  background-color: var(--darker-background);
}

.theme--dark .v-md-editor__menu-item:hover {
  background-color: rgb(177, 177, 177) !important;
}

.theme--light .v-md-editor__menu-item {
  background-color: white !important;
}

.theme--light .v-md-editor__menu-item:hover {
  background-color: var(--lighter-background) !important;
}


/* fullscreen */

.theme--light .v-md-editor--fullscreen {
  background-color: white !important;
}

.theme--dark .v-md-editor--fullscreen {
  background-color: var(--darker-background) !important;
}


/* svg link icon */

.theme--dark .v-md-svg-outbound {
  background-color: var(--darker-background);
}

.theme--light .v-md-svg-outbound {
  background-color: var(--light-background);
}


/* custom containers */


/* Tip (green) */

.theme--dark .v-md-plugin-tip {
  background: var(--dark-background) !important;
}

.theme--light .v-md-plugin-tip.tip {
  background: #b5fadb;
}

.v-md-plugin-tip.tip .v-md-plugin-tip-title {
  color: #42b983 !important;
}


/* warning (orange) */

.theme--dark div .v-md-plugin-tip.warning {
  background-color: var(--dark-background) !important;
  color: white;
}

.theme--light div .v-md-plugin-tip.warning {
  background-color: rgba(255, 218, 148, 0.8) !important;
}

.v-md-plugin-tip.warning .v-md-plugin-tip-title {
  color: orange !important;
}

.theme--dark .v-md-plugin-tip.danger p:not(.v-md-plugin-tip-title) {
  color: white !important;
}


/* save icon */

.theme--dark .v-md-icon-save {
  text-shadow: 0 0 5px #64B5F6;
}

.theme--light .v-md-icon-save {
  text-shadow: 0 0 2px #0089fa;
}


/* todo list / checkboxes */

.v-md-editor__todo-list-item {
  margin-left: -15px !important;
}


/* flowchart */

[id*='mermaid-'] line {
  stroke: black !important;
}

.theme--dark svg[id*="mermaid-"] {
  background: #D3D3D3;
  padding: 5px;
}

.v-md-mermaid {
  display: block;
  text-align: center;
}


/* markdown */

.vuepress-markdown-body {
  overflow-x: scroll;
  max-width: 100vw;
}

.v-md-editor {
  background-color: transparent !important;
}


/* index page */

.vuemarkdown .vuepress-markdown-body {
  padding: 0px !important;
  background-color: transparent !important;
}


/* blog */

.extra-class {
  color: white
}


/* Hide markdown area scrollbars at the blog and mainpage */

.blog [class*="v-md-editor"] [class*="scrollbar__bar"],
.mainpage [class*="v-md-editor"] [class*="scrollbar__bar"] {
  display: none !important;
}

.blog .vuepress-markdown-body,
.mainpage .vuepress-markdown-body {
  overflow: hidden;
}

.theme--dark tr:nth-child(even) {
  background-color: black !important;
}

