<template>
  <v-app id="top">
    <v-navigation-drawer
      app
      clipped
      stateless
      hide-overlay
      :value="drawer"
    >
      <v-card flat>
        <simple-tree-view
          :items="tvi"
          :anchor="anchor"
        />
      </v-card>
    </v-navigation-drawer>
    <v-app-bar
      app
      fixed
      clipped-left
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" :disabled="tvi.length === 0"/>
      <v-toolbar-title 
        v-text="title" 
        tag="h6"
        style="cursor: pointer;"
        @click="$router.push('/')"
      />
      <v-spacer />
    </v-app-bar>
    <v-main>
      <v-container>
        <v-row v-if="isCodeContainer">
          <span class="headline font-weight-bold mt-4 ml-2"> {{ currentItem.title }} </span>
          <v-col cols="12">
            <v-row>
              <v-col cols="12" class="mt-3">
                <v-md-editor mode="preview" v-model="currentItem.description" />
              </v-col>
              <v-col cols="12">
                <v-md-editor mode="preview" v-model="currentItem.code" />
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <Nuxt ref="nuxt" />
      </v-container>
    </v-main>
    <div id="bottom" style="visibility: hidden"/>
    <v-footer
      app
    >
      <span>Rotem Revivo &copy; {{ new Date().getFullYear() }}</span>
      <v-spacer />
      <v-btn icon href="https://gitlab.com/RotemR91/v-simple-cms-demo" target="_blank">
        <v-icon>mdi-gitlab</v-icon>
      </v-btn>
    </v-footer>
    <div>
      <GoToFab 
        goTo="#top" 
        icon="mdi-chevron-up"
        direction="up"
      />
      <GoToFab 
        goTo="#bottom" 
        color="pink" 
        icon="mdi-chevron-down"
        direction="down"
      />
    </div>
  </v-app>
</template>

<script>
import axios from "axios"

import { GoToFab } from "v-simple-cms"
import SimpleTreeView from '~/components/Demo/SimpleTreeView.vue'

export default {
  name: "DefaultLayout",
  components: {
    GoToFab,
    SimpleTreeView
  },
  async created () {
    const path = this.$route.path
    switch (path) {
      case "/advance":
        this.$store.dispatch("setView", 1)
        break
      case "/basic":
        this.$store.dispatch("setView", 0)
        break
    }
    let data = await axios.get("basic.md")
    this.$set(this.items[0], 'code', data.data)
    data = await axios.get("advance.md")
    this.initialAdvance = data.data
    this.$set(this.items[1], 'code', this.initialAdvance)
  },
  async mounted () {
    setTimeout(() => {
      this.anchor = this.$refs.nuxt.$children[0]
    }, 200)
  },
  watch: {
    "$route.path" () {
      setTimeout(() => {
        this.anchor = this.$refs.nuxt.$children[0]
      }, 200)
    }
  },
  data () {
    return {
      pos: 50,
      anchor: {},
      initialAdvance: "",
      drawer: true,
      items: [
        {
          title: 'Basic',
          description: "In it's core the `v-simple-cms` component is using the `v-editor` component which\
                        encapsulates most of the logic behind the cms. The `v-editor` component is verstile and can be\
                        used in different ways. The most basic use-case is to just pass the component **no** additional configuration.\
                        In this mode the user can either use an empty template in order to start creating new JSON/YAML files, or uploading\
                        a JSON/YAML file. The user then can edit, change, add, delete key-value pairs (at any level!) and export\
                        a new file. The user can also create a matching configuration, export it and then load it.",
          code: ''
        },
        {
          title: 'Advance',
          description: 'In the following example we use `v-simple-cms` and load a small database together with pre-defined templates for each group Object-type\
                        in the database. The way data is being combined and passed to component is completely individual and could be\
                        completely different between database integrations.\
                        We pass the required props (as mentioned [here](\#props-1))',
          code: ''
        }
      ],
      tvi: [
        {
          name: "Home",
          action: () => this.$router.push('/'),
          style: '',
          class: 'font-weight-medium',
          children: []
        },
        {
          name: "API documentation",
          action: () => this.$router.push("/api"),
          style: '',
          class: 'font-weight-medium',
          children: []
        },
        {
          name: "Examples",
          action: () => {},
          style: '',
          class: 'font-weight-medium',
          children: [
            {
              name: "Basic",
              children: [],
              style: 'margin-left: 20px',
              class: '',
              action: () => {
                this.$store.dispatch("setView", 0)
                this.$router.push("/basic")
              }
            },
            {
              name: "Advance",
              style: 'margin-left: 20px',
              class: '',
              action: () => {
                this.$store.dispatch("setView", 1)
                this.$router.push("/advance")
              },
              children: this.$route.path === '/advance' ? [
                {
                  name: "Templates",
                  action: () => {},
                  style: 'margin-left: 40px',
                  class: '',
                  children: [
                    {
                      name: "Blog Posts",
                      style: 'margin-left: 60px',
                      class: '',
                      action: async () => {
                        let data = await axios.get('templates/blogPosts.json')
                        data = "::: details Show blogposts template \n```json \n" + JSON.stringify(data.data, null, '\t') +  "\n :::"
                        this.$set(this.items[1], 'code', `${this.initialAdvance}\n${data}`)
                      }
                    },
                    {
                      name: "Members",
                      style: 'margin-left: 60px',
                      class: '',
                      action: async () => {
                        let data = await axios.get('templates/members.json')
                        data = "::: details Show members template \n```json \n" + JSON.stringify(data.data, null, '\t') + "\n :::"
                        this.$set(this.items[1], 'code', `${this.initialAdvance}\n${data}`)
                      }
                    },
                    {
                      name: "Publications",
                      style: 'margin-left: 60px',
                      class: '',
                      action: async () => {
                        let data = await axios.get('templates/publications.json')
                        data = "::: details Show publications template \n```json \n" + JSON.stringify(data.data, null, '\t') + "\n :::"
                        this.$set(this.items[1], 'code', `${this.initialAdvance}\n${data}`)
                      }
                    }
                  ]
                }
              ] : []
            }
          ]
        },
        {
          name: "Helpers",
          action: () => ({}),
          style: '',
          class: 'font-weight-medium',
          children: [
            {
              name: "Representations and keys",
              children: [],
              style: 'margin-left: 20px',
              class: '',
              action: () => this.$router.push("/keys")
            },{
              name: "Veutify's legal components",
              children: [],
              style: 'margin-left: 20px',
              class: '',
              action: () => this.$router.push("/legalComponents")
            }
          ]
        },
        {
          name: "ToDo",
          action: () => this.$router.push("/todo"),
          style: '',
          class: 'font-weight-medium',
          children: []
        }
      ],
      title: 'v-simple-cms-demo'
    }
  },
  computed: {
    currentItem () {
      return this.items[this.$store.state.view]
    },
    isCodeContainer () {
      return this.currentItem && (this.$route.path.includes('/basic') || this.$route.path.includes('/advance'))
    }
  }
}
</script>

<style>
.vuepress-markdown-body {
  padding-left: 0px !important;
}
</style>
