<template>
  <v-md-editor mode="preview" v-model="text"/>
</template>

<script lang="ts">
import Vue from "vue"
import axios from "axios"

export default Vue.extend({
  name: "Documentation",
  // @ts-ignore
  head() {
    return {
      title: this.title,
      meta: [
        {
          hid: this.title,
          name: this.title,
        }
      ]
    }
  },
  async fetch () {
    const path = this.$route.path.substring(1)
    console.log(path)
    try {
      let data = await axios.get(`${path}.md`)
      this.text = data.data
      this.title = this.text.split('\n')[0].replace(/#+/, '')
    } catch {
      console.error(`error fetching ${path}`)
      this.$router.push('/')
    }
  },
  fetchOnServer: false,
  data: () => ({
    text: "",
    title: ""
  })
})
</script>