<template>
  <v-editor />
</template>

<script lang="ts">
import Vue from 'vue'

import { VEditor } from "v-simple-cms"

export default Vue.extend({
  name: "Basic",
  // @ts-ignore
  head() {
    return {
      title: `Basic Example`,
      meta: [
        {
          hid: "Basic",
          name: "Basic",
          description: 'A basic example to v-editor' ,
        },
      ],
    };
  },
  components: {
    VEditor
  }
})
</script>