<template>
  <v-md-editor ref="preview" mode="preview" v-model="text"/>
</template>

<script lang="ts">
import Vue from "vue"
import axios from "axios"

export default Vue.extend({
  name: "Home",
  // @ts-ignore
  head() {
    return {
      title: `Home`,
      meta: [
        {
          hid: "Home",
          name: "Home",
          description: 'v-simple-cms-demo home page' ,
        },
      ],
    };
  },
  async created () {
    let data = await axios.get('home.md')
    this.text = data.data
  },
  data: () => ({
    text: ""
  })
})
</script>